body {
  background-color: #330036;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 40px;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: white;
}

.iMacG4Container {
	background-color: #2F394D;
	text-align: center;
	border-radius: 50px;
	color: white;
}

.iMacG3Container {
	background-color: #2F394D;
	text-align: center;
	border-radius: 50px;
	color: white;
}

.G4Img {
	border-radius: 50px;
}